body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    padding: 5px 0px 5px 50px;
    background-color: #f7f6f4;
    /* padding-bottom: 15px; */
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 25px;
    font-size: 0.8rem;
}

.need {
    margin-left: 350px;
}

#call {
    color: #56a1f2;
}

.whatsapp {
    /* margin-top: 10px; */

    vertical-align: middle;
}

.flag {
    margin-left: 50px;
    background-color: white;
    border-color: black;
    border-radius: 50px;
    padding: 10px 25px;
}

.landing {
    padding-left: 50px;
}