body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 25px;
    font-size: 0.8rem;
}

.need {
    margin-left: 200px;
}
