body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    padding: 5px 0px 5px 50px;
    background-color: #f7f6f4;
    /* padding-bottom: 15px; */
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 25px;
    font-size: 0.8rem;
}

.need {
    margin-left: 350px;
}

#call {
    color: #56a1f2;
}

.whatsapp {
    /* margin-top: 10px; */

    vertical-align: middle;
}

.flag {
    margin-left: 50px;
    background-color: white;
    border-color: black;
    border-radius: 50px;
    padding: 10px 25px;
}

.landing {
    padding-left: 50px;
    background-color: #ece8d9;
    padding-top: 20px;
}

.landing ul {
    list-style: none;
}

.logo li {
    display: inline-block;
    margin-right: 25px;
    font-size: 0.8rem;
    vertical-align: middle;
}

.product-list {
    margin-left: 300px;
}

h1 {
    font-size: 4rem;
    margin-top: 100px;
    margin-left: 25px;
    color: #384a62;
}

h2 {
    font-size: 1.5rem;
    margin-top: -30px;
    margin-left: 25px;
    color: #708095;
}